@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles for a more realistic and stylish theme */
html {
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}

body {
    @apply font-sans bg-dark-bg text-light-text;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    position: relative;
}

#app {
    overflow-x: hidden;
    max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading;
}

/* Custom Scrollbar Styles for Webkit browsers */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #282828;
    /* Slightly lighter than dark-bg for contrast */
}

::-webkit-scrollbar-thumb {
    background: #555555;
    /* Muted gray for the thumb */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777777;
}

/* For Firefox */
html {
    scrollbar-color: #555555 #282828;
    /* thumb and track color */
    scrollbar-width: thin;
    /* auto | thin | none */
}